@import "variables/temp1_variables";
@import "../shared/templates";

.template1__wrapper {
  position: relative;
  display: flex;
  height: 100%;
  margin: 0;
  background-color: $wrapper_background_color;

  h1, h2, h3, h4, h5, p, a, ul {
    position: absolute;
  }

  /*Left section
======*/
  .left__section {
    @extend %vertical_flex_alignment;
    padding: 5rem 2.5rem;
    width: 35%;
    background-color: $left_background_color;
    color: $left_text_color;

    p {
      position: absolute;
      font-size: 1.4rem;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.4;
      letter-spacing: 0.07em;
    }

    .photo {
      position: absolute;
      width: 17rem;
      height: 17rem;
      border-radius: 50%;
      background: url(../images/Images/templates1_foto.webp) no-repeat;
      background-size: 250%; // auto 340px;
      background-position-x: 100%;
      margin-bottom: 4rem;
    }

    .article__title {
      font-family: 'Belgrano', serif;
      font-size: 1.6rem;
      line-height: 1.4;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: $left_article_title_color;
    }

    .text1 {
      top: 250px;
    }

    .text2 {
      top: 285px;
      width: 35%;
      padding-left: 10px;
      font-size: 1.4rem;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.4;
      letter-spacing: 0.07em;
    }

    .text3 {
      top: 400px;
    }

    .article__block {
      font-size: 1.4rem;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.4;
      letter-spacing: 0.07em;
    }

    .text4 {
      top: 430px;
      left: 10px;
      color: $left_text_color;
    }

    .text5 {
      top: 445px;
      left: 10px;
      color: $left_text_color;
    }

    .text6 {
      top: 460px;
      left: 10px;
      color: $left_text_color;
    }

    .text7 {
      top: 475px;
      left: 10px;
      color: $left_text_color;
    }

    .text8 {
      top: 490px;
      left: 10px;
      color: $left_text_color;
    }

    .text9 {
      top: 505px;
      left: 10px;
      color: $left_text_color;
    }

    .text10 {
      top: 520px;
      left: 10px;
      color: $left_text_color;
    }

    .text11 {
      top: 600px;
    }

    .link {
      left: 10px;
      width: 35%;
      display: block;
      font-size: 1.4rem;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.4;
      letter-spacing: 0.07em;
      text-decoration: none;
      color: $left_text_color;
    }

    .text12 {
      top: 640px;
    }

    .text13 {
      top: 655px;
    }

    .text14 {
      top: 670px;
    }

    .text15 {
      top: 685px;
    }

    .text16 {
      top: 875px;
      left: 10px;
    }

    .text17 {
      top: 905px;
      left: 10px;
    }

    .text18 {
      top: 920px;
      left: 10px;
    }

    .text19 {
      top: 935px;
      left: 10px;
    }

    .text20 {
      top: 950px;
      left: 10px;
    }

    .text21 {
      top: 965px;
      left: 10px;
    }

    .text22 {
      top: 980px;
      left: 10px;
    }
  }

  /*Main section
  ========*/
  .main__section {
    width: 65%;

    p {
      line-height: 1.4;
      letter-spacing: 0.07em;
      font-size: 1.6rem;
      font-style: italic;
    }

    .header {
      position: absolute;
      top: 15px;
      right: 0;
      width: 65%;
      padding-left: 15px;
      @extend %flex_column;
      justify-content: center;
      height: 25rem;
      background-color: $header_background_color;
    }

    .text23 {
      top: 85px;
      left: 310px;
      color: $header_title_color;
      font-size: 4.2rem;
      line-height: 1.17;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      font-family: 'Belgrano', serif;
    }

    .text24 {
      top: 140px;
      left: 310px;
      color: $header_title_color;
      font-size: 1.8rem;
      line-height: 1.37;
      letter-spacing: 0.162em;
      font-family: 'Open Sans', sans-serif;
    }

    .text25 {
      top: 310px;
      left: 300px;
      font-family: 'Belgrano', serif;
      font-size: 2.2rem;
      color: $information_title_color;
      font-weight: bold;
    }

    .working__place__title {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.6rem;
      line-height: 1.4;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      font-weight: bold;
    }

    .text26 {
      top: 355px;
      left: 300px;
    }

    .place__name {
      font-family: 'Open Sans', sans-serif;
      line-height: 1.4;
      letter-spacing: 0.07em;
      font-size: 1.6rem;
      font-style: italic;
    }

    .text27 {
      top: 390px;
      left: 300px;
    }

    //class="main__text"
    .text28 {
      top: 425px;
      left: 300px;
    }

    .text29 {
      top: 445px;
      left: 300px;
    }

    .text30 {
      top: 465px;
      left: 300px;
    }

    .text31 {
      top: 515px;
      left: 300px;
    }

    .text32 {
      top: 550px;
      left: 300px;
    }

    .text33 {
      top: 585px;
      left: 300px;
    }

    .text34 {
      top: 605px;
      left: 300px;
    }

    .text35 {
      top: 625px;
      left: 300px;
    }

    .text36 {
      top: 740px;
      left: 300px;
      font-family: 'Belgrano', serif;
      font-size: 2.2rem;
      color: $information_title_color;
      font-weight: bold;
    }

    .text37 {
      top: 785px;
      left: 300px;
    }

    .text38 {
      top: 815px;
      left: 300px;
    }

    .text39 {
      top: 850px;
      left: 300px;
    }

    .text40 {
      top: 875px;
      left: 300px;
    }

    .text41 {
      top: 920px;
      left: 300px;
    }
    .text42 {
      top: 960px;
      left: 300px;
    }
    .text43 {
      top: 990px;
      left: 300px;
    }

    .text44 {
      top: 1020px;
      left: 300px;
    }

    .text45 {
      top: 1040px;
      left: 300px;
    }

    .text46 {
      top: 1060px;
      left: 300px;
    }
  }
}
