.container_temp3 {
  border-top: 65px solid blue;
  background-color: burlywood;

.img_men {
  position: absolute;
    height: 287px;
    width: 224px;
    left: -4px;
}
h3 {
  border-top: 2px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
  color: black;
  font-size: 30px;
}
a{
  font-size: 13px;
}
ul {
  font-size: 13px;
  font-style: normal;
}
.skills_person {
  position: absolute;
  top: 950px;
  left: 25px;
}
.know_person {
  position: absolute;
  top: 700px;
  left: 25px;
}
.profile_person {
  position: absolute;
  top: 450px;
  left: 25px;
}
.history_person {
  position: absolute; 
  top: 855px; 
  right: 70px;
}
.work_person {
  position: absolute; 
  top: 568px;
  right: 44px;
}
.contact_person {
  position: absolute; 
  right: 85px; 
  top: 381px;
}
.name_person {
  font-size: 70px;
}
.header {
  position: absolute; 
  top: 100px;
  right: 70px;
}
.profession_person {
  border: none;
}
.profile_text {
  font-size: 20px;
}
.profession_name {
  font-size: 15px;
  padding-bottom: 5px;
}
.place__name {
  font-size: 15px;
  padding-bottom: 5px;
}
.history_person_list {
  font-size: 15px;
}
.work_person_list {
  font-size: 15px;
}
.text14 {
  position: absolute;
    top: 389px;
    left: 61px;
}
}