.container {
    display: flex;
    height: 100%;
    background-color: lightgoldenrodyellow;
    border-bottom: 20px solid mediumblue;
    border-top: 20px solid mediumblue;


    .img-men {
        height: 300px;
        width: 311px;
        border: 20px solid cornflowerblue;
    }
h4 {
    color: cornflowerblue;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid cornflowerblue;
    border-top: 1px solid cornflowerblue;
}
.name_persone {
    color: cornflowerblue;
}
.contact_person {
    position: absolute;
}
.profession {
    color: black;
    border: none;
}
.right_section{
    padding-left: 35px;
    margin-top: 5px;
}
div {
    padding-top: 50px;
}
.header {
    padding-top: 0px;
}
ul {
    font-size: 13px;
}
a {
    font-size: 13px;
    padding-top: 10px;
    margin-top: 10px;
}
.photo {
    padding-top: 0px;
}
.place__name {
    font-weight: bold;
    padding-top: 40px;
}
.profession_name {
    font-weight: bold;
    padding-top: 40px;
}
.left_section{
    margin-left: 35px;
    margin-top: 27px;
}
.history_person_list{
    font-style: oblique;
}
.career_person_history_list{
    font-style: oblique;
}
.career_text {
    padding-top: 40px;
}
.interests_person_list {
    padding-top: 40px;
}
.achievements_list {
    padding-top: 40px;
}
}
