.template1__wrapper .left__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template1__wrapper .header, .template1__wrapper .main, .template1__wrapper .person__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.template1__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0;
  color: #191a1c;
  background-color: #fff;
  /*Left section
======*/
  /*Main section
  ========*/
  /*Main section
  ======*/
}

.template1__wrapper .left__section {
  padding: 5rem 2.5rem;
  width: 35%;
  background-color: #00242b;
  color: #eff9f2;
}

.template1__wrapper .photo {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background: url(../images/Images/templates1_foto.webp) no-repeat;
  background-size: 250%;
  background-position-x: 100%;
  margin-bottom: 4rem;
}

.template1__wrapper .left__article {
  margin-bottom: 3rem;
}

.template1__wrapper .article__title {
  font-family: 'Belgrano', serif;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #78a1bb;
}

.template1__wrapper .article__block {
  margin: 1.2rem 0;
  width: 90%;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  letter-spacing: 0.07em;
}

.template1__wrapper .article__block p, .template1__wrapper .article__block a, .template1__wrapper .article__block li {
  margin-bottom: 0.3rem;
  color: #eff9f2;
  list-style-type: none;
}

.template1__wrapper .article__block a {
  text-decoration: none;
  display: block;
  -webkit-transition: color .25s linear;
  transition: color .25s linear;
}

.template1__wrapper .article__block a:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.template1__wrapper .additional__information {
  width: 100%;
}

.template1__wrapper .main__section {
  width: 65%;
}

.template1__wrapper .container {
  padding: 0 2rem 0 4rem;
  width: 100%;
}

.template1__wrapper .header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25rem;
  background-color: #03674f;
  color: #eff9f2;
}

.template1__wrapper .name {
  font-size: 4.2rem;
  line-height: 1.17;
  letter-spacing: 0.08em;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
  font-family: 'Belgrano', serif;
}

.template1__wrapper .profession {
  font-size: 1.8rem;
  line-height: 1.37;
  letter-spacing: 0.162em;
  font-family: 'Open Sans', sans-serif;
}

.template1__wrapper .main {
  margin-top: 4rem;
}

.template1__wrapper .person__information:first-child {
  margin-bottom: 6rem;
}

.template1__wrapper .information__title {
  margin-bottom: 2rem;
  font-family: 'Belgrano', serif;
  font-size: 2.2rem;
  color: #03674f;
  font-weight: bold;
}

.template1__wrapper .working__place {
  color: #00242b;
  margin-bottom: 3rem;
}

.template1__wrapper .working__place__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: bold;
}

.template1__wrapper .place__name {
  margin: 1rem 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  letter-spacing: 0.07em;
  font-size: 1.6rem;
  font-style: italic;
}

.template1__wrapper .description {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  letter-spacing: 0.07em;
  font-size: 1.4rem;
}

.template1__wrapper .description ul {
  padding: 0 0 0 2rem;
}

.template1__wrapper .description ul li {
  margin-bottom: 0.3rem;
}

.template1__wrapper .description ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 1100px) {
  .template1__wrapper .left__section {
    padding: 6rem 1rem;
    width: 30%;
  }
  .template1__wrapper .article__title {
    font-size: 1.3rem;
  }
  .template1__wrapper .article__block {
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .template1__wrapper .left__section {
    padding: 3.5rem 1rem;
    width: 30%;
  }
  .template1__wrapper .photo {
    width: 13rem;
    height: 13rem;
    background: url(../images/Images/temp1_photo.jpg) no-repeat -10px -10px;
    background-size: auto 34rem;
    margin-bottom: 2rem;
  }
  .template1__wrapper .article__title {
    font-size: 1.3rem;
  }
  .template1__wrapper .article__block {
    font-size: 1.2rem;
  }
  .template1__wrapper .container {
    padding: 0 2rem 0 4.5rem;
  }
  .template1__wrapper .header {
    margin-top: 2rem;
    height: 15rem;
  }
  .template1__wrapper .name {
    font-size: 2.8rem;
  }
  .template1__wrapper .profession {
    font-size: 1.5rem;
  }
  .template1__wrapper .information__title {
    font-size: 1.8rem;
  }
  .template1__wrapper .working__place__title {
    font-size: 1.4rem;
  }
  .template1__wrapper .place__name {
    font-size: 1.4rem;
  }
  .template1__wrapper .description {
    font-size: 1.2rem;
  }
}

@media (max-width: 550px) {
  .template1__wrapper .left__section {
    padding: 3.5rem 1rem;
    width: 35%;
  }
  .template1__wrapper .photo {
    width: 12rem;
    height: 12rem;
    background: url(../images/Images/temp1_photo.jpg) no-repeat -10px -10px;
    background-size: auto 34rem;
    margin-bottom: 2rem;
  }
  .template1__wrapper .article__title {
    font-size: 1.2rem;
  }
  .template1__wrapper .article__block {
    font-size: 1.1rem;
  }
  .template1__wrapper .container {
    padding: 0 1rem 0 1.5rem;
  }
  .template1__wrapper .header {
    margin-top: 2rem;
    height: 15rem;
  }
  .template1__wrapper .name {
    font-size: 2.4rem;
  }
  .template1__wrapper .profession {
    font-size: 1.2rem;
  }
  .template1__wrapper .information__title {
    font-size: 1.6rem;
  }
  .template1__wrapper .working__place__title {
    font-size: 1.3rem;
  }
  .template1__wrapper .place__name {
    font-size: 1.3rem;
  }
  .template1__wrapper .description {
    font-size: 1.2rem;
  }
}

@media (max-width: 445px) {
  .template1__wrapper .left__section {
    padding: 3.5rem 1rem;
    width: 35%;
  }
  .template1__wrapper .photo {
    width: 11rem;
    height: 11rem;
    background: url(../images/Images/temp1_photo.jpg) no-repeat -15px -15px;
    background-size: auto 34rem;
    margin-bottom: 2rem;
  }
  .template1__wrapper .article__title {
    font-size: 1.1rem;
  }
  .template1__wrapper .article__block {
    font-size: 1rem;
  }
  .template1__wrapper .container {
    padding: 0 1rem 0 1.5rem;
  }
  .template1__wrapper .header {
    margin-top: 2rem;
    height: 15rem;
  }
  .template1__wrapper .name {
    font-size: 2.1rem;
  }
  .template1__wrapper .profession {
    font-size: 1.1rem;
  }
  .template1__wrapper .information__title {
    font-size: 1.5rem;
  }
  .template1__wrapper .working__place__title {
    font-size: 1.2rem;
  }
  .template1__wrapper .place__name {
    font-size: 1.2rem;
  }
  .template1__wrapper .description {
    font-size: 1.1rem;
  }
}

@media (max-width: 360px) {
  .template1__wrapper .left__section {
    padding: 2.5rem 0.5rem 1.5rem 0.5rem;
    width: 35%;
  }
  .template1__wrapper .photo {
    width: 10rem;
    height: 10rem;
    background: url(../images/Images/temp1_photo.jpg) no-repeat -20px -15px;
    background-size: auto 34rem;
    margin-bottom: 1rem;
  }
  .template1__wrapper .article__title {
    font-size: 1rem;
  }
  .template1__wrapper .article__block {
    font-size: 0.9rem;
  }
  .template1__wrapper .container {
    padding: 0 1rem 0 1rem;
  }
  .template1__wrapper .header {
    margin-top: 1.5rem;
    height: 12rem;
  }
  .template1__wrapper .name {
    font-size: 1.7rem;
  }
  .template1__wrapper .profession {
    font-size: 0.9rem;
  }
  .template1__wrapper .information__title {
    font-size: 1.2rem;
  }
  .template1__wrapper .working__place__title {
    font-size: 1rem;
  }
  .template1__wrapper .place__name {
    font-size: 1rem;
  }
  .template1__wrapper .description {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=temp1.css.map */