@import "variables/temp1_variables";
@import "../shared/templates";

.template1__wrapper {
  position: relative;
  display: flex;
  height: 100%;


  margin: 0;
  //font-family: 'Raleway', sans-serif;
  //font-size: 1rem;
  color: $wrapper_text_color;
  background-color: $wrapper_background_color;

  /*Left section
======*/

  .left__section {
    @extend %vertical_flex_alignment;
    padding: 5rem 2.5rem;
    width: 35%;
    background-color: $left_background_color;
    color: $left_text_color;

    .photo {
      position: absolute;
      width: 17rem;
      height: 17rem;
      border-radius: 50%;
      background: url(../images/Images/templates1_foto.webp) no-repeat;
      background-size: 250%; // auto 340px;
      background-position-x: 100%;
      margin-bottom: 4rem;
    }

    .article__title {
      position: absolute;
      font-family: 'Belgrano', serif;
      font-size: 1.6rem;
      line-height: 1.4;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: $left_article_title_color;
    }

    .left__title1 {
      top: 250px;
    }

    .article__text {
      position: absolute;
      top: 285px;
      width: 35%;
      padding-left: 10px;
      font-size: 1.4rem;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.4;
      letter-spacing: 0.07em;
    }

    .left__title2 {
      top: 400px;
    }

    .article__block {
      width: 90%;
      font-size: 1.4rem;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.4;
      letter-spacing: 0.07em;

      p, li {
        margin-bottom: 0.3rem;
        color: $left_text_color;
        list-style-type: none;
      }
    }

    .left__article2 {
      position: absolute;
      top: 430px;
      left: 10px;

      ul {
        position: absolute;
        top: 430px;

        li {
          position: absolute;
        }

        li:nth-child(1) {
          top: 430px;
        }

        li:nth-child(2) {
          top: 445px;
        }

        li:nth-child(3) {
          top: 460px;
        }

        li:nth-child(4) {
          top: 475px;
        }

        li:nth-child(5) {
          top: 490px;
        }

        li:nth-child(6) {
          top: 505px;
        }

        li:nth-child(7) {
          top: 520px;
        }
      }
    }

    .left__title3 {
      position: absolute;
      top: 600px;
    }


    a {
      font-size: 1.4rem;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.4;
      letter-spacing: 0.07em;
      text-decoration: none;
      display: block;
      color: $left_text_color;
      transition: color .25s linear;
      position: absolute;
      left: 10px;
      width: 35%;
    }

    .left__link1 {
      top: 640px;
    }

    .left__link2 {
      top: 655px;
    }

    .left__link3 {
      top: 670px;
    }

    .left__link4 {
      top: 685px;
    }

    a:hover {
      color: $left_text_color_hover;
      cursor: pointer;
    }

    p {
      position: absolute;
      left: 10px;
      font-size: 1.4rem;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.4;
      letter-spacing: 0.07em;
      color: $left_text_color;
    }
    .left__title4 {
      top: 875px;
    }

    .left__text1 {
      top: 905px;
    }
    .left__text2 {
      top: 920px;
    }
    .left__text3 {
      top: 935px;
    }
    .left__text4 {
      top: 950px;
    }
    .left__text5 {
      top: 965px;
    }
    .left__text6 {
      top: 980px;
    }
  }
  /*Main section
  ========*/
  .main__section {
    width: 65%;

    .header {
      position: absolute;
      top: 15px;
      right: 0;
      width: 65%;
      padding-left: 15px;
      @extend %flex_column;
      justify-content: center;

      height: 25rem;

      background-color: $header_background_color;
      color: $header_title_color;
    }

    .name {
      position: absolute;
      top: 75px;
      font-size: 4.2rem;
      line-height: 1.17;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      font-family: 'Belgrano', serif;
    }

    .profession {
      position: absolute;
      top: 125px;
      font-size: 1.8rem;
      line-height: 1.37;
      letter-spacing: 0.162em;
      font-family: 'Open Sans', sans-serif;
    }

    .main {
      @extend %flex_column;
      margin-top: 4rem;
    }


    .person__information {
      @extend %flex_column;
    }

    .person__information:first-child {
      margin-bottom: 6rem;
    }

    .information__title {
      margin-bottom: 2rem;
      font-family: 'Belgrano', serif;
      // font-family: Georgia, sans-serif;
      font-size: 2.2rem;
      color: $information_title_color;
      font-weight: bold;
    }

    .working__place {
      color: $working_place_color;
      margin-bottom: 3rem;
    }

    .working__place:first-child {
    }

    .working__place__title {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.6rem;
      line-height: 1.4;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      font-weight: bold;
    }

    .place__name {
      margin: 1rem 0;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.4;
      letter-spacing: 0.07em;
      font-size: 1.6rem;
      font-style: italic;
    }

    .description {
      font-family: 'Open Sans', sans-serif;
      line-height: 1.4;
      letter-spacing: 0.07em;
      font-size: 1.4rem;
    }

    .description ul {
      padding: 0 0 0 2rem;
    }

    .description ul li {
      margin-bottom: 0.3rem;
    }

    .description ul li:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 1100px) {
    .left__section {
      padding: 6rem 1rem;
      width: 30%;
    }

    .article__title {
      font-size: 1.3rem;
    }

    .article__block {
      font-size: 1.2rem;
    }

  }

  @media (max-width: 700px) {

    .left__section {
      padding: 3.5rem 1rem;
      width: 30%;
    }

    .photo {
      width: 13rem;
      height: 13rem;
      background: url(../images/Images/temp1_photo.jpg) no-repeat -10px -10px;
      background-size: auto 34rem;
      margin-bottom: 2rem;
    }

    .article__title {
      font-size: 1.3rem;
    }

    .article__block {
      font-size: 1.2rem;
    }

    .container {
      padding: 0 2rem 0 4.5rem;
    }

    .header {
      margin-top: 2rem;
      height: 15rem;
    }

    .name {
      font-size: 2.8rem;
    }

    .profession {
      font-size: 1.5rem;
    }

    .information__title {
      font-size: 1.8rem;
    }

    .working__place__title {
      font-size: 1.4rem;
    }

    .place__name {
      font-size: 1.4rem;
    }

    .description {
      font-size: 1.2rem;
    }

  }

  @media (max-width: 550px) {

    .left__section {
      padding: 3.5rem 1rem;
      width: 35%;
    }

    .photo {
      width: 12rem;
      height: 12rem;
      background: url(../images/Images/temp1_photo.jpg) no-repeat -10px -10px;
      background-size: auto 34rem;
      margin-bottom: 2rem;
    }

    .article__title {
      font-size: 1.2rem;
    }

    .article__block {
      font-size: 1.1rem;
    }

    .container {
      padding: 0 1rem 0 1.5rem;
    }

    .header {
      margin-top: 2rem;
      height: 15rem;
    }

    .name {
      font-size: 2.4rem;
    }

    .profession {
      font-size: 1.2rem;
    }

    .information__title {
      font-size: 1.6rem;
    }

    .working__place__title {
      font-size: 1.3rem;
    }

    .place__name {
      font-size: 1.3rem;
    }

    .description {
      font-size: 1.2rem;
    }

  }

  @media (max-width: 445px) {

    .left__section {
      padding: 3.5rem 1rem;
      width: 35%;
    }

    .photo {
      width: 11rem;
      height: 11rem;
      background: url(../images/Images/temp1_photo.jpg) no-repeat -15px -15px;
      background-size: auto 34rem;
      margin-bottom: 2rem;
    }

    .article__title {
      font-size: 1.1rem;
    }

    .article__block {
      font-size: 1rem;
    }

    .container {
      padding: 0 1rem 0 1.5rem;
    }

    .header {
      margin-top: 2rem;
      height: 15rem;
    }

    .name {
      font-size: 2.1rem;
    }

    .profession {
      font-size: 1.1rem;
    }

    .information__title {
      font-size: 1.5rem;
    }

    .working__place__title {
      font-size: 1.2rem;
    }

    .place__name {
      font-size: 1.2rem;
    }

    .description {
      font-size: 1.1rem;
    }

  }

  @media (max-width: 360px) {

    .left__section {
      padding: 2.5rem 0.5rem 1.5rem 0.5rem;
      width: 35%;
    }

    .photo {
      width: 10rem;
      height: 10rem;
      background: url(../images/Images/temp1_photo.jpg) no-repeat -20px -15px;
      background-size: auto 34rem;
      margin-bottom: 1rem;
    }

    .article__title {
      font-size: 1rem;
    }

    .article__block {
      font-size: 0.9rem;
    }

    .container {
      padding: 0 1rem 0 1rem;
    }

    .header {
      margin-top: 1.5rem;
      height: 12rem;
    }

    .name {
      font-size: 1.7rem;
    }

    .profession {
      font-size: 0.9rem;
    }

    .information__title {
      font-size: 1.2rem;
    }

    .working__place__title {
      font-size: 1rem;
    }

    .place__name {
      font-size: 1rem;
    }

    .description {
      font-size: 1rem;
    }
  }
}
