@import "variables/temp1_variables";
@import "../shared/templates";

.template1__wrapper {
  display: flex;
  height: 100%;
 

  margin: 0;
  //font-family: 'Raleway', sans-serif;
  //font-size: 1rem;
  color: $wrapper_text_color;
  background-color: $wrapper_background_color;

  /*Left section
======*/

  .left__section {
    @extend %vertical_flex_alignment;
    padding: 5rem 2.5rem;
    width: 35%;
    background-color: $left_background_color;
    color: $left_text_color
  }

  .photo {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    background: url(../images/Images/templates1_foto.webp) no-repeat;
    background-size: 250%; // auto 340px;
    background-position-x: 100%;
    margin-bottom: 4rem;
  }

  .left__article {
    margin-bottom: 3rem;
  }

  .article__title {
    font-family: 'Belgrano', serif;
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $left_article_title_color;
  }

  .article__block {
    margin: 1.2rem 0;
    width: 90%;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    letter-spacing: 0.07em;

    p, a, li {
      margin-bottom: 0.3rem;
      color: $left_text_color;
      list-style-type: none;
    }

    a {
      text-decoration: none;
      display: block;
      transition: color .25s linear;
    }

    & a:hover {
      color: $left_text_color_hover;
      cursor: pointer;
    }
  }

  .additional__information {
    width: 100%;
  }
  /*Main section
  ========*/
  .main__section {
    width: 65%;
  }

  /*Main section
  ======*/
  .container {
    padding: 0 2rem 0 4rem;
    width: 100%;
  }

  .header {
    @extend %flex_column;
    justify-content: center;
   // margin-top: 3rem;
    height: 25rem;

   // font-family: Georgia, sans-serif;
    background-color: $header_background_color;
    color: $header_title_color;
  }

  .name {
    font-size: 4.2rem;
    line-height: 1.17;
    letter-spacing: 0.08em;
    margin-bottom: 0.8rem;
    text-transform: uppercase;
    font-family: 'Belgrano', serif;
  }

  .profession {
    font-size: 1.8rem;
    line-height: 1.37;
    letter-spacing: 0.162em;
    font-family: 'Open Sans', sans-serif;
  }

  .main {
    @extend %flex_column;
    margin-top: 4rem;
  }

  .person__information {
    @extend %flex_column;
  }

  .person__information:first-child {
    margin-bottom: 6rem;
  }

  .information__title {
    margin-bottom: 2rem;
    font-family: 'Belgrano', serif;
   // font-family: Georgia, sans-serif;
    font-size: 2.2rem;
    color: $information_title_color;
    font-weight: bold;
  }

  .working__place {
    color: $working_place_color;
    margin-bottom: 3rem;
  }

  .working__place:first-child {
  }

  .working__place__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-weight: bold;
  }

  .place__name {
    margin: 1rem 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    letter-spacing: 0.07em;
    font-size: 1.6rem;
    font-style: italic;
  }

  .description {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    letter-spacing: 0.07em;
    font-size: 1.4rem;
  }

  .description ul {
    padding: 0 0 0 2rem;
  }

  .description ul li {
    margin-bottom: 0.3rem;
  }

  .description ul li:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 1100px) {
    .left__section {
      padding: 6rem 1rem;
      width: 30%;
    }

    .article__title {
      font-size: 1.3rem;
    }

    .article__block {
      font-size: 1.2rem;
    }

  }

  @media (max-width: 700px) {

    .left__section {
      padding: 3.5rem 1rem;
      width: 30%;
    }

    .photo {
      width: 13rem;
      height: 13rem;
      background: url(../images/Images/temp1_photo.jpg) no-repeat -10px -10px;
      background-size: auto 34rem;
      margin-bottom: 2rem;
    }

    .article__title {
      font-size: 1.3rem;
    }

    .article__block {
      font-size: 1.2rem;
    }

    .container {
      padding: 0 2rem 0 4.5rem;
    }

    .header {
      margin-top: 2rem;
      height: 15rem;
    }

    .name {
      font-size: 2.8rem;
    }

    .profession {
      font-size: 1.5rem;
    }

    .information__title {
      font-size: 1.8rem;
    }

    .working__place__title {
      font-size: 1.4rem;
    }

    .place__name {
      font-size: 1.4rem;
    }

    .description {
      font-size: 1.2rem;
    }

  }

  @media (max-width: 550px) {

    .left__section {
      padding: 3.5rem 1rem;
      width: 35%;
    }

    .photo {
      width: 12rem;
      height: 12rem;
      background: url(../images/Images/temp1_photo.jpg) no-repeat -10px -10px;
      background-size: auto 34rem;
      margin-bottom: 2rem;
    }

    .article__title {
      font-size: 1.2rem;
    }

    .article__block {
      font-size: 1.1rem;
    }

    .container {
      padding: 0 1rem 0 1.5rem;
    }

    .header {
      margin-top: 2rem;
      height: 15rem;
    }

    .name {
      font-size: 2.4rem;
    }

    .profession {
      font-size: 1.2rem;
    }

    .information__title {
      font-size: 1.6rem;
    }

    .working__place__title {
      font-size: 1.3rem;
    }

    .place__name {
      font-size: 1.3rem;
    }

    .description {
      font-size: 1.2rem;
    }

  }

  @media (max-width: 445px) {

    .left__section {
      padding: 3.5rem 1rem;
      width: 35%;
    }

    .photo {
      width: 11rem;
      height: 11rem;
      background: url(../images/Images/temp1_photo.jpg) no-repeat -15px -15px;
      background-size: auto 34rem;
      margin-bottom: 2rem;
    }

    .article__title {
      font-size: 1.1rem;
    }

    .article__block {
      font-size: 1rem;
    }

    .container {
      padding: 0 1rem 0 1.5rem;
    }

    .header {
      margin-top: 2rem;
      height: 15rem;
    }

    .name {
      font-size: 2.1rem;
    }

    .profession {
      font-size: 1.1rem;
    }

    .information__title {
      font-size: 1.5rem;
    }

    .working__place__title {
      font-size: 1.2rem;
    }

    .place__name {
      font-size: 1.2rem;
    }

    .description {
      font-size: 1.1rem;
    }

  }

  @media (max-width: 360px) {

    .left__section {
      padding: 2.5rem 0.5rem 1.5rem 0.5rem;
      width: 35%;
    }

    .photo {
      width: 10rem;
      height: 10rem;
      background: url(../images/Images/temp1_photo.jpg) no-repeat -20px -15px;
      background-size: auto 34rem;
      margin-bottom: 1rem;
    }

    .article__title {
      font-size: 1rem;
    }

    .article__block {
      font-size: 0.9rem;
    }

    .container {
      padding: 0 1rem 0 1rem;
    }

    .header {
      margin-top: 1.5rem;
      height: 12rem;
    }

    .name {
      font-size: 1.7rem;
    }

    .profession {
      font-size: 0.9rem;
    }

    .information__title {
      font-size: 1.2rem;
    }

    .working__place__title {
      font-size: 1rem;
    }

    .place__name {
      font-size: 1rem;
    }

    .description {
      font-size: 1rem;
    }
  }
}
