@import "../shared/templates";

.constructor__header {
  height: 5.5rem;
  background: linear-gradient(90deg, #00c4cc, #7d2ae8);

  .navbar {
    background: linear-gradient(90deg, #00c4cc, #7d2ae8);
    text-align: center;
    z-index: 10;
  }

  a.no-shadow {
    font-size: 16px;
    color: white;

    &:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    }
  }
}

.menu-controls {
  color: white;
  padding: 0;
  @extend %flex_center;
  justify-content: start;

  &-list {
    display: flex;
    padding-left: 1rem;
    margin-left: 1rem;
    width: auto;

    li {
      list-style-type: none;
      margin-right: 1rem;

      a {
        .material-icons {
          vertical-align: middle;
          font-size: 1.4rem;
        }
      }
    }

    li:first-child {
      .material-icons {
        display: none;
      }
    }
  }
}

#header-controls {

  input {
    @extend %button_layout;
  }

  li {
    list-style-type: none;
    margin-right: 1rem;
  }
}

.constructor-page {
  overflow: hidden;

  ::-webkit-scrollbar-button {
    width: 6px;
    height: 0;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  ::-webkit-resizer {
    width: 7px;
    height: 0;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  .show__controls {
    width: 30%;
    min-width: 270px;
  }

  .controls {
    position: relative;
    color: white;
    background: #2a3039;
    display: flex;

    .hide__panel__container {
      position: absolute;
      right: -12px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 1;
    }

    .hide__btn {
      position: relative;
      cursor: pointer;
    }

    .hide {
      display: none;
    }

    .hide__arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 4px;
      color: white;
    }


    ::-webkit-scrollbar-track {
      background-color: #2a3039;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #5f646b;
    }

    .controls__icons {
      width: 100%;
      max-width: 25%;
      min-width: 75px;
      @extend %flex_column;
      flex-wrap: wrap;
      color: white;
      user-select: none;
      height: 93vh;
      overflow-y: auto;
      overflow-x: hidden;

      .active_icon {
        background: #2a3039;
      }

      .after__active {
        border-radius: 0 0 15px 0;
      }

      .before__active {
        border-radius: 0 15px 0 0;
      }

      li {
        list-style-type: none;
        text-align: center;
        font-size: 1.1rem;
        cursor: pointer;
        transition-duration: 0.2s;
        padding: 1rem 0.5rem;
        background: #0e1318;

      }

      span.material-icons {
        display: block;
      }
    }

    .controls__elements {
      color: white;
      padding-top: 10px;
      width: 100%;
      height: 93vh;
      overflow-y: scroll;
      z-index: 2;

      &-upload-div {
        @extend %flex_center;
        justify-content: center;
      }

      #input-upload {
        display: none;
      }

      label {
        @extend %button_layout;
        border: solid 1px orange;
        margin: 1rem;
        width: 100%;
        text-align: center;

        cursor: pointer;
      }

      #upload-button {
        @extend %button_layout;
        margin: 1rem 3rem;
        width: 100%;
        text-align: center;
      }

      .upload-image {
        height: 10rem;
        max-width: 13rem;
        margin: 0.5rem;
      }

      &-text-div {
        align-items: center;

        & div {
          @extend %button_layout;
          border: solid 1px orange;
          margin: 1rem;
          text-align: center;
          cursor: pointer;
          font-size: 1.7rem;
          font-weight: 600;

          &:first-child {
            font-size: 2.5rem;
            font-weight: 800;
          }

          &:last-child {
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
      }


      &-list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0;
        padding: 1rem 0 0 0;

        li {
          list-style-type: none;
          display: inline-block;
          width: 40%;
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;

          img {
            width: 100%;

            &.element-element {
              overflow: visible;
            }

            &.element-background {
              height: 7rem;
            }
          }
        }
      }

      &-panel-div {
        padding: 0;
        margin: 1rem 1rem;
        text-align: center;

        &_button {
          width: 100%;
          border: solid 1px orange;
          margin: 1rem auto;
          text-align: center;
          cursor: pointer;
          font-size: 1.5rem;
          padding: 1rem;
          border-radius: 5px;
        }

        .button-draw {
          width: 3rem;
          height: 3rem;
          display: inline-block;
          padding: 0.3rem;
          cursor: pointer;
          border: solid 1px #fff;
        }
      }

      &-background-div {
        padding: 0;
        margin: 1rem 1rem;

        input {
          cursor: pointer;
        }

        label {
          border: none;
          display: inline;
          cursor: pointer;
          transition: opacity .2s linear;

          &:hover {
            opacity: .8;
          }
        }
      }
    }
  }
}

.constructor-page .workspace {
  width: 100%;
  overflow: paged-y;
  background: #e3eef3;

  ::-webkit-scrollbar-track {
    background-color: #8a92a3;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #26282a;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #000;
  }

  &__header {
    height: 4rem;
    background-color: white;
    display: flex;

    div {
      width: 50%;

      &.workspace__header-right {
        display: flex;
        justify-content: flex-end;
        user-select: none;

        span {
          margin: auto 1rem;
          text-align: center;
          color: #2d3238;
          cursor: pointer;
        }
      }
    }

    input[type='color'] {
      margin: 1rem
    }
  }

  &__field {
    width: 100%;
    padding-bottom: 20px;
  }

  .resume {
    overflow: auto;
    height: 100vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .sheet__container {
      width: 79.3rem;
      height: 112.25rem;
      overflow: hidden;
      background-color: white;
      position: relative;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) scale(0.73);
      top: 50%;

      .uploaded-image {
        max-width: 40rem;
        position: absolute;
        top: 5rem;
        left: 5rem;
      }

      .text-inner {

        &.heading {
          font-size: 7.46667rem;
          font-weight: 800;
          position: absolute;
          top: 2rem;
          left: 2rem;
        }

        &.subheading {
          font-size: 4.26667rem;
          font-weight: 600;
          position: absolute;
          top: 2rem;
          left: 2rem;
        }

        &.body-text {
          font-size: 2.9333rem;
          font-weight: 400;
          position: absolute;
          top: 2rem;
          left: 2rem;
        }
      }

      .svg-element {
        position: absolute;
        top: 2rem;
        left: 2rem;
        width: 30%;
        z-index: 5;
      }
    }
  }

  .workspace__header-left {
    display: flex;
    align-items: center;

    label {
      font-size: 14px;
      padding: 0 3px;
    }

    .text__size {
      margin: 0 10px;
      border-bottom: none;
    }
  }
}
