.live__container {
  /*  position: absolute;
    background-color: bisque;*/
    border: 3px solid blue;

}

.resize-container {
  position:absolute;
  border: 1px dashed lime;
  cursor: move;

}

.resize-container > img {
  width: 100%;
  height:100%;
  user-select: none;
}

.resize-container > div {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background:red;
  opacity:0.8;
  z-index: 1;
  border-radius:50%;
}

.resize-container-btn {
 bottom: -5px;
 right: -5px;

  cursor: se-resize;
}

.sheet__container svg {
  overflow: visible;
}

.workspace__header-right {
  span:hover {
    transform: scale(1.15);
  }
  span:active {
    transform: scale(1.25);
  }
}

.controls__icons-list {
  li {
    span, p {
      transition: transform 80ms ease-in-out;
    }
    p {
      transition: transform 100ms ease-in-out;
    }

    &:hover {
      span {
        transform: scale(1.14);
      }
      p {
        transform: scale(1.11);
      }
    }
  }

}

.controls__elements-list {
  li {
    cursor: pointer;
    transition: transform .25s linear;
    &:hover {
      transform: scale(1.07);
    }
  }

}
