.live__container {
  /*  position: absolute;
    background-color: bisque;*/
    border: 3px solid blue;

}

.resize-container {
  position:absolute;
  border: 1px dashed lime;
  cursor: move;

}

.resize-container > img {
  width: 100%;
  height:100%;
  user-select: none;
}

.resize-container > div {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background:red;
  opacity:0.8;
  z-index: 1;
  border-radius:50%;
}

.resize-container-btn {
 bottom: -5px;
 right: -5px;

  cursor: se-resize;
}

.sheet__container svg {
  overflow: visible;
}