@import "../shared/templates";

.create-design__inner-slider {
    @extend %flex_center;
    justify-content: center;
}

.create-design__inner-slider__arrow {
    @extend %slider_button;
    margin-right: 0.5rem;
}

.create-design__inner-slider__arrow#next {
    transform: rotate(180deg);
}

.create-design__inner-slider__cards {
    margin: 0 5.3rem;
    width: 110rem;
   // height: 20rem;

    position: relative;
    overflow: hidden;

    &-track {
        //margin: 0 auto;//0 -45px
        display: flex;
        justify-content: space-around;
    
        //position: absolute;
        transition: all 0.2s ease-out;
    }
}

.slider__card {

    margin: 0 4.5rem;
    //margin: 0 auto;
    border-radius: 9px;
    background-color: white;
    transition: box-shadow 0.14s linear, background-color 0.14s linear;

    &:hover {
        background-color: rgb(25, 185, 177);
      //  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        color: white;
    }

    &-header {
        width: 20rem;
        height: 15rem;
        overflow: hidden;
        border-radius: 8px;

        &:hover {
            border: solid 1px rgb(25, 185, 177);
        }

    }

    &-title-h4 {
        font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
        font-weight: 600;
        font-size: 1.7rem;
        color: #0e1318;
        line-height: 1.6;
        padding: 1rem 0 1rem 0.5rem;
    }
}

