%vertical_flex_alignment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

%flex_column {
  display: flex;
  flex-direction: column;
}

%flex_center {
  display: flex;
  align-items: center;
}

%button_layout {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
}
