$wrapper_text_color: #191a1c;
$wrapper_background_color: #fff;

$left_article_title_color: #78a1bb;
$left_text_color: #eff9f2;
$left_text_color_hover: rgba(255, 255, 255, 0.5);
$left_background_color: #00242b;

$header_title_color: #eff9f2;
$header_background_color: #03674f;

$information_title_color: #03674f;
$working_place_color: #00242b;
