@import "~normalize.css";

h1, h2, h3, h4, h5, h6, p, body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

main {
  margin: 0;
  display: flex;
 // flex-direction: column;
 // padding: 0 3.2rem;
}

footer {
  padding: 0 3.2rem;
}
